*{
    padding: 0;
    margin: 0;
}

.menu-container{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.logo-photo{
    width: 120px;
}

.menus{
    display: flex;
    color: white;
}

.item{
   margin-right: 10px;
   padding: 7px;
   font-size: 18px;
   cursor: pointer;
    
}

.item:hover{
    color: blue;
}

.banner-img{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url("./images/background.png"), linear-gradient(45deg,rgb(8, 8, 8), rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text{
    color: white;
}

.title{
    font-size: 55px;
    font-weight: bold;

}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px; 
}

.btn{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    
}

.btn:hover{
    background-color: blueviolet;
}

.about-container{
   
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around
}


.abotTextHeder{
    padding-bottom: 10px;
}

.about-title{
    text-align: center;
    padding: 20px;
}